<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>安士普瑞科技有限公司</title>
   <link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">  
   <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
   <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/product.js"></script>
</head>
<body   style="background-color: 	#F5FFFA" onload="init()">
<table style="width: 100%;"  >
<tr   style="height: 50px">
<td >&nbsp; &nbsp;&nbsp;安士普瑞科技有限公司</td>
<td align="right"> <a  href="/login.html"   id="login" >登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <a  id="register"   href="/register.html">注册</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>
  

<nav class="navbar navbar-expand-lg " style="background-color: #191970;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-white"  style="font-family: cursive;" href="#"  >首页</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link  text-white"   style="font-family: cursive;"  href="#">公司咨询 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white"  style="font-family: cursive;"  href="#">问题留言</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
<div  class="row">
<div class="col">
<div  id="intruduce">&nbsp;&nbsp;&nbsp; 公司以科技创新为先导、以先进制造为基础，坚持走外向型和技术先进型集团化发展的道路，在全球高端电子消费产品主机配套零部件制造领域，依靠特有的技术创新和产品国际化经营的管理模式创新，凭借持续领先的研发投入，具备了从专用模具开发设计、专用生产设备研制开发、专用产品快速研发和规模生产的能力，工艺、技术、规模一直稳居国际领先地位。</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"  colspan="5">产品资料下载</th>
         </tr>
  </thead>
  <tbody  id="tbody">
     
     </tbody>
</table>
<div  class="row">
<div class="col">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">上一页</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">下一页</a></li>
  </ul>
</div>
</div>
</div>
<div class="col  align-middle" >
</div>
</div>
</div>
</body>
</html>

